.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0 6rem;
}
.Center ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
